<div class="four ui buttons">
  <%= link_to start_work_path,class:"ui button" do%>出勤<% end %>
  <%= link_to stop_work_path,class:"ui button" do%>退勤<% end %>
  <%= link_to start_break_path,class:"ui button" do%>休憩開始<% end %>
  <%= link_to stop_break_path,class:"ui button" do%>休憩終了<% end %>
</div>
