<div class="wrap-for-dev col-md-12">
  <h3><%=@user.name%>さんの今後の出勤日程</h3>
  <% @user.schedules.reverse_each do |schedule| %>
    <div class="wrap-for-dev col-md-12">
      <div class="col-md-6">
        <h4><%= schedule.work_started_at.strftime('%m/%d(%a) %H:%M') %> ~ <%= schedule.work_ended_at.strftime('%H:%M') %></h4>
      </div>
      <div class="col-md-6">
        <h4>
          <% if schedule.task_schedules != [] %>
            <% schedule.task_schedules.each do |task_schedule| %>
              <%= task_schedule.task.title %>,
            <% end %>
          <% else %>
            予定されているタスクがありません:(
          <% end %>
        </h4>
      </div>
    </div>
  <% end %>
</div>
