<div class="ui raised segment">
  <h3>お知らせ</h3>
  <div class="ui relaxed divided list">
  <% @notice_users.each do |notice_user| %>
    <%= link_to notice_path(notice_user.notice), class:"item future" do %>
	    <i class="large info circle middle aligned icon"></i>
	    <div class="content">
	      <div class="header"><%= notice_user.notice.body %></div>
	      <div class="description">
		      <% notice_time = Time.now.to_time.to_i - notice_user.notice.created_at.to_time.to_i %>
		      <%= (Time.parse("1/1") + notice_time).strftime("%-H時間%-M分%-S秒前") %>
	      </div>
	    </div>
    <% end %>
  <% end %>
  </div>
  <%= link_to '全てのお知らせを見る', notices_path %>
</div>

