<script src="https://webkaru.net/jquery-plugin/sources/timeto/jquery.timeTo.js"></script>
<link href="https://webkaru.net/jquery-plugin/sources/timeto/timeTo.css" type="text/css" rel="stylesheet"/>

<h3>今後の出勤予定</h3>
<div class="ui grid padded stackable middle aligned" id="schedule-status-for-intern">
  <div class="sixteen wide column center aligned">
    <% if @future_schedules != [] %>
      <% @future_schedules.each do |future_schedule| %>
        <div class="future-schedules"><%= future_schedule.work_started_at.strftime('%m月%d日(月)%-H時%M分') %>~<%= future_schedule.work_ended_at.strftime('%-H時%M分') %></div>
      <% end %>
    <% else %>
      <%= "シフトが登録されていません。" %>
    <% end %>
  </div>
</div>
