<p id="notice"><%= notice %></p>

<h1>お知らせ一覧</h1>

<table class="ui celled striped table">
  <thead>
    <tr>
      <th>内容</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @notices.reverse_each do |notice| %>
      <tr>
        <td><%= notice.body %></td>
        <td><%= link_to '詳細', notice %></td>
      </tr>
    <% end %>
  </tbody>
</table>
