<%= render 'js' %>
<div class="col-md-12 text-right">
  <%= link_to '＋スケジュールを追加', new_schedule_path, class: "btn btn-primary" %>
</div>
<div class="ui grid">
  <div class="row">
    <div class="three wide column">
    	<div class="ui segment">
	    <div id="inputtest"></div>
    	</div>
    </div>
    <div class="thirteen wide column">
    <div class="ui segment">
	    <div id='calendar'></div>
    </div>
    </div>
  </div>
</div>
