/*
*= require_self
*= require fullcalendar
*= require calendar
*= require_tree .
*/

// @import "bootstrap-sprockets";
// @import "bootstrap";
$import-google-fonts: false;
@import 'semantic-ui';
@import "./*";

/* for all */
body {
  /*  フォントの種類  */
  font-family: -apple-system, BlinkMacSystemFont,
               '小塚ゴシック Pro L','Kozuka Gothic Pro Light',"Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

  /*  フォントのサイズ  */
  font-size: 16px;

  /*  フォントの色  */
  font-size: #333;

  /* カーニングの設定 */
  letter-spacing: 1.5px;
  font-feature-settings: "palt" 1;
  font-kerning: auto;

  /* 行間の設定 */
  line-height: 1.75;

  font-weight: 100;
  color: #40615e;
}

.wrap-for-dev{
  background-color: #ffffff;
  border: solid 2px #f2f2f2;
}
.row.main-header .column{
	padding-bottom: 0px;
}
.ui.main-header{
	padding-bottom: 0px !important;
}
.main-header.row{ margin:0 1rem;}
.main-header.row .column{
  padding:0 !important;
}
.messagebox {
	display: none; /* 初期状態は非表示 */
	/* 画面上部に表示 */
	position: absolute;
	z-index:999;
	top: 10%;
    left: 54%;
}
.user-image{
	width: 30px !important;
	height:30px !important;
	margin-bottom: 0px !important;
  display: inline-block !important;
}

.notice-btn-image{
	content: url("notice-btn.png");
	width: 50px !important;
	height:50px !important;
	margin-bottom: 0px !important;
}

.notice-num-image{
	content: url("notice-num.png");
  width: 20px !important;
  height: 20px !important;
  margin-bottom: 0px !important;
  top: -54px;
  left: 4px;
}

.ui.inverted.menu .teal.active.item, .ui.inverted.teal.menu {
    background-color: #00BC89;
}
.no-overflow-x {
  overflow-x: visible !important;
}
.no-overflow {
  overflow: visible !important;
}

/*sidebar*/
#sidebar {
  background: linear-gradient(-45deg,#00a9bc 20%,#00bc89 100%);
}

#side-logo {
  width: 70%;
  margin: 15px auto 15px auto;
}
.ui.menu .teal.active.item {
  padding-left: 9px;
  border-left: 4px solid #ffffff !important;
}

.ui.inverted.menu .teal.active.item {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
}

.ui.inverted.menu a.item:hover {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
}

.ui.inverted.menu .item:before, .ui.vertical.inverted.menu .item:before {
    background: rgba(255, 255, 255, 0);
  }

.ui.menu .item {
    padding: 14px 13px;
}

.ui.vertical.menu .item > i.icon {
   float: none;
   margin: 0em 0.3em 0em 0.7em;
}

.ui.mini.image {
    width: 28px;
}

/*header*/

#header {
  right: 0px;
  background-color: #ffffff;
  height: 80px;
  box-shadow: rgba(0, 127, 88, 0.2) 0px 0px 13px 0px;
  position: fixed;
  z-index: 10;
  width: 100%;
  padding-left: 7rem;
}

.ui.middle.aligned.image, .ui.right.floated.image {
    box-shadow: 0px 0px 13px 0px rgba(0, 127, 88, 0.5);
}

#header h3 {
    margin: 14px;
}

#header h3 span {
    color: #333333;
    font-size: 10px;
}

#header h4 {
    margin: 13px;
}

#header .title {
  padding: 0 1rem;
}

#header .interne-img{
  height: 52px;
  padding: 5px 1rem;
}

.notice-num {
    position: absolute;
    top: 2px;
    left: 19px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ea352d;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
}

.notice-num > h4 > i{
    display: inline-block;
    padding: 0em;
    margin-right: 0.25rem;
}

/*全体*/
.main_contents {
  background-color: #fafcfc;
}

.ui.segment{
  border: 0px;
  border-radius: 0.15rem;
}

.ui.segment h3 {
  margin-top: 0px;
}
/*font color*/
.ui.table, .ui.cards > .card > .content > .header, .ui.cards > .card > .content > .description,.ui.accordion .title:not(.ui),.ui.header  {
    color: inherit;
}

.ui.raised.segment {
  height: 100%;
}


/*shadow*/
.ui.raised.segment,.ui.cards > .card, {
  //box-shadow: 0px 0px 13px 0px rgba(0, 127, 88, 0.2);
  box-shadow: 0px 2px 7px 0px rgba(0, 127, 88, 0.2);
}

/*devise*/
body .grid {
  // height: 100%;
}

#signin .image {
  margin-top: -100px;
}

#signin .column {
  max-width: 450px;
}

#signin > div {
  top: 15rem;
}

.ui.teal.button {
  background: linear-gradient(-45deg,#00a9bc 20%,#00bc89 100%);
}

.ui.vertical.menu {
    width: 7rem;
}

#sidebar a {
  height: 6rem;
  text-align: center;
  font-size: 0.8rem;
}

#sidebar a i {
  display: block;
  font-size: 2.5rem;
  margin: 3px auto;
}

#current_company img {
  display: block;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  margin: 0 auto;
  width: 3rem;
}

#current_company b {
  font-size: 0.8rem;
  text-align: center;
  display: block;
  margin: 1rem 0 0 0;
}

#current_company {
  margin: 0px 0px 17px 0px;
}
