@import "bootstrap-sprockets";
@import "bootstrap";


.wrap-for-dev{
  background-color: #ffffff;
  border: solid 2px #f2f2f2;
}

*{
  color: #45494B;
}

.header{
  background-color: #ffffff;
}

.header{
  background-color: #ffffff;
}

.sidebar{
  background-color: #e6e6e6 ;
}

.main-window{
  background-color: #f2f2f2;
}

.footer{
  background-color: #ffffff;
}
