// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ui.piled.segment {
  margin: 0rem 0rem 1rem 0rem !important;
}


//#schedule_status_for_intern

#schedule-status-for-intern{
  overflow-x: hidden;
  overflow-y: scroll;
  height: 180px;
}

#schedule-status-for-intern::after{
  height: 180px;
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, white 100%);
  width: calc(100% - 38px);
}

#schedule-status-for-intern .future-schedules:first-child::before{
  content: "";
  height: 140px;
  display: block;
}

#schedule-status-for-intern .future-schedules:last-child::after{
  content: "";
  height: 50px;
  display: block;
}

#schedule-status-for-intern .future-schedules:first-child {
  margin: 1.5rem 0;
  font-size: 20px;
  color: #000000;
}

#schedule-status-for-intern .future-schedules {
  color: #333333;
  margin-bottom: 0.2rem;
}

//.task-status

.task-status{
  overflow-x: hidden;
  overflow-y: scroll;
}

.task-status .item:first-child {
  border-top: 0.5px solid #eeeeee;

}

.task-status .left-gradient-border {
  position: absolute;
  height: 100%;
  width: 4px;
  margin: -7px;
}

.task-status .item {
  font-size: 17px;
  color: #000000;
  border-bottom: 0.5px solid #eeeeee;
  padding: 0.5rem;
  position: relative;
}

.task-status .description {
  font-size: 10px;
  color: #555555;
  font-weight: normal;
}

.task-status .users {
  display: inline-block;
  font-size: 10px;
}

.task-status .content {
  display: inline-block;
}


.task-status .title span.labelname {
  float: right;
  border-radius: 5px;
  color: #fff;
  font-size: 10px;
  padding: 0 0.3rem;
}

.task-status .title span.username {
  float: right;
  border-radius: 5px;
  color: #333;
  font-size: 10px;
  padding: 0 0.3rem;
}

.task-status .description span {
  float: right;
}

#tasks-for-all.task-status {
  height: 450px;
}

#tasks-for-intern.task-status {
  height: 180px;
}

#tasks-for-all.task-status .content{
  width: calc(100% - 4rem);
  margin-left: 4rem;
}
