<div class="col-md-3 padding-left-clear">
	<div class="row">
		<div class="col-md-2">
			<div class="company-image"></div>
		</div>
		<div class="col-md-10">
			<% current_user.company_users.each do |company_user| %>
				<%= link_to set_company_path(company_user) do%>
					<div class="company-name">
						<span class="target"><%= company_user.company.name %></span>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
<div class="col-md-7">
</div>
<div class="col-md-2">
  <% if user_signed_in? %>
  	<%= link_to destroy_user_session_path, method: :delete do%>
  	<div class="user-image"></div>
  	<%end%>
  <% end %>
</div>
