<script type="text/javascript">
        $(document).ready(function(){
                $('.ui.dropdown').dropdown();
        });
</script>
<div class="ui padded grid">
  <div class="row main-header">
          <div class="fourteen wide column">
                <div class="ui mini info message">
                  <i class="close icon"></i>
                  <div class="header">
                    社長からのメッセージ
                  </div>
                  ワタミには「365日24時間、死ぬまで働け」という言葉がある。
                </div>
          </div>

  <div class="two wide column">
          <% if user_signed_in? %>
                <div class="ui dropdown" style="display:block;display: flow-root;">
                        <img class="ui circular right floated image user-image">
                        <div class="menu">
                                    <div class="item">
                                          <span class="description">管理者</span>
                                      柳田豪太
                                    </div>
                                    <div class="item">
                                      プロフィール
                                    </div>
                                    <%= link_to destroy_user_session_path, method: :delete,class:"item" do%>
                                      ログアウト
                                    <%end%>
                        </div>
                </div>
        <% end %>
  </div>
  </div>
</div>
