<div class="col-md-11">
  <h1>株式会社◯△×◻</h1>
</div>
<div class="col-md-1">
  <% if user_signed_in? %>
    <h4><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></h4>
  <% end %>
</div>
