<script type="text/javascript">
	$(document).ready(function(){
		$('.ui.dropdown').dropdown();
		$("#hoge").flowtype();
	});
</script>
<div class="left floated four wide column">
	<div class="item">
		<img class="ui mini image" src="assets/company.gif">
		<b>aaaa</b>
	</div>
</div>
<!--<div class="left floated four wide column">
	<div class="ui padded grid">
		<div class="stretched collapsed row">
			<div class="four wide column">
				<img class="ui mini image" src="assets/company.gif">
			</div>
			<div class="eight wide column">
				<div class="ui center aligned container">
					<p class="include">digital-k株式会社ご担当者様</P>
				</div>
			</div>
			<div class="four wide column">
					<i class="dropdown icon include"></i>
			</div>
		</div>
	</div>
</div>-->
<!--<div class="right floated four wide column">
aaaa
</div>-->


<!--<div class="col-md-3 padding-left-clear">
	<div class="row">
		<div class="col-md-2">
			<div class="company-image"></div>
		</div>
		<div class="col-md-10">
			<div class="company-name">
				<span class="target">トヨタ自動車株式会社</span>
			</div>
		</div>
	</div>
</div>
<div class="col-md-7">
</div>
<div class="col-md-2">
  <% if user_signed_in? %>
  	<%= link_to destroy_user_session_path, method: :delete do%>
  	<div class="user-image"></div>
  	<%end%>
  <% end %>
</div>-->
